<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-epsonPrinter" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>EpsonPrinter</name>
  <js-module name="EpsonPrinter" src="www/EpsonPrinterCordovaPlugin.js">
    <clobbers target="cordova.plugins.EpsonPrinter" />
  </js-module><platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="EpsonPrinter"><param name="ios-package" value="EpsonPrinter" />
      </feature>
    </config-file>
    <source-file src="src/ios/libepos2.a" framework="true" />
    <source-file src="src/ios/libeposeasyselect.a" framework="true" />

    <header-file src="src/ios/ePOS2.h" />
    <header-file src="src/ios/ePOSEasySelect.h" />
    <source-file src="src/ios/EpsonPrinter.m" />
    <framework src="libxml2.2.tbd"/>
    <framework src="ExternalAccessory.framework"/> 
  </platform>
</plugin>